$background-color1: rgb(70,142,236);
$background-color2: gray;
$background-color3: white;
$text-color1: white;
$text-color2: black;
$font: normal 15pt arial;
$font-style: italic;

@mixin box-shadow($color) {
    box-shadow: 3px 3px 10px rgba($color,0.363);
}
@mixin box-shadow2($color) {
    box-shadow: inset 2px 3px 3px rgba($color,0.363);
}

body {
    background: $background-color1;
    font: $font;
}
header {
    color: $text-color1;
    text-align: center;
}
section {
    @include box-shadow(black);
    background: $background-color3;
    border-radius: 10px;
    padding: 15px;
    width: 550px;
    margin: auto;

}
div #selnum {
    @include box-shadow2(white);
    background: $background-color2;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    color: $text-color2;
}
footer{
    color: $text-color1;
    text-align: center;
    font-style: $font-style;
}

