:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-sacramento: 'Sacramento', cursive;
}
body {
  font-family: var(--font-poppins);
}
.logo {
  background: #EEEDED;
  opacity: 85%;
  object-fit: contain;
  margin: 0 auto;
  height: 10.5vw;
}
.back {
  background-image: url(../img/back.webp);
  background-size: 85vw 90vw;
  background-repeat: no-repeat;
  background-position: top, center;
  position: relative;
  top: 0;
}
.tituloprincipal {
  font-family: var(--font-sacramento);
  color: #FFE600;
  text-shadow: 1px 1px 1px black;
  margin-top: 42vw;
  padding: 0 7.5vw;
}
.razao {
  margin-top: 48vw;
}
.espacorazao {
  margin: 6vw 0;
}
.img-card-atracao {
  width: 48vw;
  height: 40vw;
}
.width-card-atracao {
  width: 48vw;
}
.logozap {
  width: 23.5px;
}
.quarto {
  position: relative;
}
.card-quarto {
  width: 29vw;
  height: auto;
  padding: 2.5vw;
  background-color: #EDEDED;
  opacity: 75%;
  position: relative;
  top: 16vw;
  left: 22vw;
  z-index: 1;
}
.img-quarto {
  width: 60vw;
  position: relative;
  top: -17vw;
  right: 1vw;
  z-index: 0;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: underline;
}