:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-sacramento: 'Sacramento', cursive;
}

.logo {
  background: #EEEDED;
  opacity: 85%;
  object-fit: contain;
  margin: 0 auto;
  height: 10.5vw;
}
.back {
  background-image: url(../img/back.webp);
  background-size: 85vw 90vw;
  background-repeat: no-repeat;
  background-position: top, center;
  position: relative;
  top: 0;
}
.tituloprincipal {
  font-family: var(--font-sacramento);
  color: #FFE600;
  text-shadow: 1px 1px 1px black;
  margin-top: 42vw;
  padding: 0 7.5vw;
}
.razao {
  margin-top: 50vw;
}