body{
    background-color: aquamarine;
}
header {
    width: fit-content;
    background-color: rgba(2, 2, 212, 0.795);
    text-align: center;
    margin: auto;
    font: bold 25px sans-serif;
}
main{
    width: 198px;
    height: 298px;
    border-radius: 10px;
    background: white;
    color: black;
    margin: 15px auto;
    text-align: center;
}
table {
    display: flex;
    background-color: silver;
    border-radius: 10px;
    width: 208px;
    padding: 5px;
}
tr{
    border: 10px 0;
}
button{
    background-color: white;
    width: 45px;
    height: 45px;
    padding: 5px;
    border: 10px;
    border-radius: 5px;
    outline: 15px;
}
button#enter{
    height: 92px;
}
button#zero{
    width: 93px;
}
button:hover{
    cursor: pointer;
    box-shadow: inset 2px 4px 4px rgba(0,0,0,0.363);
    transition: 0.2s;
}
td#res{
    height: 45px;
    height: 45px;
    background-color: rgba(241, 189, 91, 0.712);
    border-radius: 5px;
}
footer{
    text-align: center;
}