body {
  background-image: linear-gradient(to bottom, #E7E7E7, #FFFFFF);
}

.logoprincipal {
  width: 145px;
}
.espacamentonavbar{
  padding: 0 5vh;
  margin: 0 5vh;
}
li>.textonav {
  font-weight: bold;
  color: black;
}
li>.textonav:hover {
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 1.2rem;
}
main{
  padding: 0 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back {
  background-image: url(/Estudo-de-Pyhton/landingpage/img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 45vw;
  margin-top: 1.5vw;
}
.titulo {
  font-size: larger;
  text-align: center;
  padding-top: 2vw;
  color: rgb(255, 230, 0);
  text-shadow: 1px 1px 1px black;
}
.segundotitulo {
  font-size: medium;
  text-align: center;
  font-weight: bold;
  margin: 1.2rem auto;
}
.informacao {
  font-weight: bold;
  margin-bottom: 1rem;
}
p , .alinhamento {
  text-align: center;
  font-weight: bold;
  text-shadow: 0.2px 0.2px silver;
}
.conteudocard {
  text-align: center;
  font: 1.2rem medium black;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover{
  text-decoration: underline;
  color: black;
}
.logo {
  width: 17px;
  height: 17px;
}
.conteudo {
  width: 45vw;
  text-align: justify;
  margin: 1.2rem auto;
  text-shadow: 1px 1px 1px rgb(255, 230, 0);
}
.conteudorestante {
  width: 45vw;
  margin: 1.2rem auto;
}
.servico {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.2rem auto;
  text-shadow: 0.2px 0.2px silver;
}
.destaque:hover {
  transform: scale(1.2)!important;
}
.imagempromocao {
  width: 15vw;
  height: 15vw;
  margin: 1.5vw;
}
ul>li {
  padding-left: 5vw;
}
section {
  display: flex;
  justify-content: center;
}
/* .carrossel {
  width: auto;
  margin: 0 auto;
} */
.img-carrosel {
  object-fit: cover;
  height: 400px;
  margin: 1.2rem auto;
}
.reserva{
  width: 95vw;
  height: auto;
  background-color: white;
  margin: 1.2rem auto;
  padding: 1.2rem;
  border-radius: 5px;
}
.final {
  width: 90vw;
  padding: 2.5vw;
  text-align: center;
  margin: 0 auto;
}
.mapa {
  width: 80vw;
  height: 15vw;
}
.botao {
 width: 125px;
 text-align: end;
}
